{% extends 'common/layout.twig' %}

{% block content %}

    <form method="post">
        <p>Выберите категорию шутки:</p>
        <select name="limitTo">
            {% for category in categoryList %}
                <option>{{ category }}</option>
            {% endfor %}
        </select>

        <p>Введите e-mail:</p>
        <input type="email" name="email">
        <br>
        <input type="submit">
    </form>

{% endblock %}