{% extends 'common/layout.twig' %}

{% block content %}

    <p>Шутка: {{ joke }}</p>
    <p>Отправлено на почту: {{ email }}</p>
    <p>Успешно отправлено: {{ isSend }}</p>
    <p>Успешно записано в файл: {{ isWrite }}</p>

{% endblock %}